.container
  .header.clearfix
    %nav
      %ul.nav.nav-pills.pull-right
        %li.active{:role => "presentation"}
          %a{:href => "#"} Home
        %li{:role => "presentation"}
          %a{:href => "#"} About
        %li{:role => "presentation"}
          %a{:href => "#"} Contact
  .jumbotron
    %h1 Support Issue Tracking System
    %p.lead Do not hesitate to contact with us. You only need to create new issue ticket and our support team will do all the best to make you happy :)
    %p
      .btn.btn-lg.btn-success
        = link_to 'Create New Ticket', new_ticket_path, type: "button"
  .row.marketing
    .col-lg-6
      %h4 Subheading
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 Subheading
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
    .col-lg-6
      %h4 Subheading
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 Subheading
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
  %footer.footer
    %p © 2017 Company, Inc.
